@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

th:hover {
    cursor: pointer;
}

#deleteForm, #vacationForm, #sickleaveForm {
    display:none;
}
header {
    margin:0 0 50px 0;
    background:black;
    width:100%;
    color:white;
    height:70px;
}
body {
    margin:0;
    background:#F2F2F2;
    font-family: 'Roboto';
}
.header_h a {
    color:white;
}
.header_h {
    width:100%;
    margin:auto;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
    background-image: url("../images/administrator.png");
    background-position:37% 0%;
    background-size: 50px 50px;
    background-repeat: no-repeat;

}
.items_h {
    width:100%;
    margin:auto;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
}

.workers_nav {
    display: flex;
    flex-wrap: wrap;
}
.workers {
    margin-bottom: 300px;
}
.workers_nav div {
    height:100px;
    width:25%;
    box-sizing: border-box;
    text-align:center;
    vertical-align: bottom;
}
header a {
    text-decoration: none;
    color:black;
}
.department {
    margin-bottom: 300px;
}
.department_nav {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.department_nav div {
    height:100px;
    width:25%;
    box-sizing: border-box;
    text-align:center;
    vertical-align: bottom;
}
.vacancies {
    margin-bottom: 300px;
}
.vacancies_nav  {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.vacancies_nav div {
    height:100px;
    width:25%;
    box-sizing: border-box;
    text-align:center;
    vertical-align: bottom;
}
.documents_nav  {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.documents_nav div {
    height:100px;
    width:25%;
    box-sizing: border-box;
    text-align:center;
    vertical-align: bottom;
}
.doc
.profile_picture {
    width:200px;
    height:300px;
}
.main_link {
    text-decoration: none;
    color:navy;
    font-size:1.7em;
}
.main_link:hover {
    text-decoration: underline solid orange;
}
.worker_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.worker_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.worker_table th,
.worker_table td {
    padding: 12px 15px;
    text-align: center;
}
.worker_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.worker_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.worker_table tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.worker_table td:first-child {
    font-weight: bold;;
    color:navy;
}
.profile_link {
    text-decoration: none;
    background:lawngreen;
    padding:7px;
    border-radius: 10px;
    font-weight: bold;
}
.worker_button {
    padding:10px;
    display:block;
    background:dodgerblue;
}
.worker_buttons {
    margin-top:35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#firedTable tr {
    background: #FA4848;
    border-bottom: none;
}
.worker_form {
    font-size:1.2em;
    border:5px solid navy;
    padding:15px;
    text-align: center;
    border-radius:15px;
    background:white
}
.worker_form input {
    height:25px;
    border:2px solid navy;
    border-radius:10px;
}
.worker_form input:focus {
    outline: none;
    -moz-box-shadow: 0px 0px 15px rgba(0, 170, 255,.5);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 170, 255,.5);
    box-shadow: 0px 0px 15px rgba(0, 170, 255,.5);
    background: lightyellow;
}
.worker_form_header:hover {
    text-decoration: underline;
}
.worker_submit {
    width:120px;
    height:40px;
    border-radius:10px;
    border:none;
    background:darkblue;
    color:white;
    font-size:1.2em;

}
.profile {
    border:5px solid navy;
    width:700px;
    margin:auto;
    margin-bottom:50px;
}
.history_table td:first-child {
    text-align: center;
}
#workerStatus
{
    width:150px;
}
.profile p {
    font-size:1.3em;
}
.buttons a {
    margin-bottom:50px;
}
.buttons button {
    width:200px;
    height:40px;
    border:none;
    font-weight: bold;
    margin-bottom: 50px;
}
.delete_button {
    background: #AA0000;
    color:white;
}
.sick_button {
    background:#ffe700;
}
.vacation_button {
    background:#00b8ff;
}
.history {
    width:700px;
    border:5px solid navy;
    margin: auto;
}
.history_table {
    width:100%;
}
.history_table thead tr {
    background: #009879;
    color:white;
    height:35px;
}
.history_table tbody td {
    border-bottom: 1px solid black;
    padding:10px;
}
.history_table td:first-child {
    border-right: 1px solid black;
    width:150px;
}
.worker_operation {
    width:100%;
    margin:auto;
}
.worker_operation div {
    border:3px solid navy;
    width:30%;
    border-radius: 13px;
}
input:read-only {
    width:25px;
    opacity: 0.3;
}
.department_containter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.department_element {
    border:3px solid black;
    text-align: center;
    width:30%;
    margin:10px 10px 15px 10px;
}
.document_div {
    width:700px;
    height:90px;
    font-size:25px;
    background:white;
}
.document_div span {
    vertical-align: baseline;
}
.document_div > span {
    line-height: 90px;
    vertical-align: middle;
}
.document_div > img {
    line-height: 90px;
    vertical-align: middle;
}
.document_div a {
    display:inline;
}