<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<header>
    <h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
</header>
<div align="center">
    <h1 th:text="${department.name}"></h1>
    <h2>Заведующий:</h2>
    <h2 th:text="${chief.getFullname()}"></h2>
    <h2>Список сотрудников:</h2>
<table class="worker_table" id="mainTable">
    <thead>
    <tr>
        <th onclick="sortTable(0)">ID</th>
        <th onclick="sortTable(1)">Фамилия</th>
        <th onclick="sortTable(2)">Имя</th>
        <th onclick="sortTable(3)">Отчество</th>

        <th>Действия</th>
        <!--<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>	-->

    </tr>
    </thead>
    <tbody>

    <tr th:each="worker : ${listWorker}">

        <td th:text="${worker.id}"></td>
        <td th:text="${worker.surname}"></td>
        <td th:text="${worker.name}"></td>
        <td th:text="${worker.patronymic}"></td>
        <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
            <!--<a th:href="@{'/edit/' + ${worker.id}}">Редактировать</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${worker.id}}" onclick="return confirm('Вы уверены в том, что хотите удалить сотрудника?')">Удалить</a>
            <a th:href="@{'/fire/' + ${worker.id}}">Уволить сотрудника</a>-->
            <a th:href="@{'/profile/' + ${worker.id}}" class="profile_link">Профиль сотрудника</a>
        </td>

    </tr>

    </tbody>
</table>
    <h3>Укомплектованность сотрудниками:</h3>
    <p><span th:text="${department.count}"></span> из <span th:text="${department.slots}"></span></p>
    <a th:href="@{'/edit_department/' + ${department.id}}">Редактировать</a>
</div>
</body>
</html>