<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Отделы организации</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
</head>
<body>
<header>
    <h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
</header>
    <a href="new_department">Создать новый отдел</a>
    <a href="/">Вернуться на главную</a>
    <table border="1" cellpadding="10" id="mainTable">
        <tr th:each="department: ${listDep}">
            <td th:text="${department.id}"></td>
            <td th:text="${department.name}"></td>
            <td><span th:text="${department.count}"></span>/<span th:text="${department.slots}"></span></td>
            <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                <a th:href="@{'/edit_department/' + ${department.id}}">Редактировать</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete_department/' + ${department.id}}">Удалить</a>
            </td>
        </tr>
    </table>
</body>
</html>