<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Отделы организации</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
</head>
<body>
<header>
    <h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
</header>
    <h1 align="center">Отделы организации:</h1>


    <div class="department_containter">
        <div th:each="department: ${listDep}" class = department_element>
            <h2  th:text="${department.name}">Кафедра экономической информатики</h2>
            <h3>ID:<span th:text="${department.id}"></span></h3>
            <h3>Укомплектованность сотрудниками:</h3>
            <p><span th:text="${department.count}"></span> из <span th:text="${department.slots}"></span></p>
            <a class="department_link" th:href="@{'/department_page/' + ${department.id}}">Страница отдела</a>

        </div>

    </div>
    <a href="new_department" class="add_department_button">Создать новый отдел</a>
</body>
</html>