<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
<title>Редактирование данных о работнике</title>
</head>
<body>
<header>
	<h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
</header>
	<div align="center">
		<h1>Введите новые данные</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${worker}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>ID</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>			
				<tr>
					<td>Имя</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td>Фамилия</td>
					<td><input type="text" th:field="*{surname}" /></td>
				</tr>				
				<tr>
					<td>Отчество</td>
					<td><input type="text" th:field="*{patronymic}" /></td>
				</tr>
				<tr>
					<td>Дата трудоустройства</td>
					<td><input type="date" th:value="*{employDate}" th:field="*{employDate}"/></td>
				</tr>
				<tr>
					<td>Дата рождения</td>
					<td><input type="date" th:value="*{birthdayDate}" th:field="*{birthdayDate}"/></td>
				</tr>

				<tr>
					<td>Образование</td>
					<td><input type="text" th:field="*{education}" /></td>
				</tr>
				<tr>
					<td>Должность</td>
					<td><input type="text" th:field="*{position}" /></td>
				</tr>
				<tr>
					<td>
						<select th:field="*{departmentId}">
							<option th:each="department : ${listDep}" th:value="${department.id}"><span th:text="${department.name}"></span></option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>