<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
<title>Product Manager</title>
</head>
<body>
<div align="center">	
	<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">Username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>
		
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Product Manager</h1>
	<div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
		<a href="new">Create New Product</a>
	</div>
	
	<br/><br/>
	<table border="1" cellpadding="10" id="mainTable">
		<thead>
			<tr>
				<th onclick="sortTable(0)">ID</th>
				<th onclick="sortTable(1)">Имя</th>
				<th onclick="sortTable(2)">Фамилия</th>
				<th onclick="sortTable(3)">Отчество</th>
				<th onclick="sortTable(4)">Никнейм</th>
				<!--<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>	-->
				
			</tr>
		</thead>
		<tbody>

			<tr th:each="worker : ${listWorker}">

				<td th:text="${worker.id}"></td>
				<td th:text="${worker.name}"></td>
				<td th:text="${worker.surname}"></td>
				<td th:text="${worker.patronymic}"></td>
				<td></td>
				<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
					<!--<a th:href="@{'/edit/' + ${product.id}}">Edit</a>
					&nbsp;&nbsp;&nbsp;&nbsp;-->
					<a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${worker.id}}">Delete</a>
				</td>
			</tr>

		</tbody>
	</table>

	<h1><a1 href="workers">Работяги</a1></h1>

</div>
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
</body>
</html>