<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
<title>Product Manager</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
	<link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">
</head>
<body>
	<header>
		<h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
	</header>
	<main>
		<div class="workers">
			<h1 class="items_h">Сотрудники:</h1>
			<div class="workers_nav">
				<div class="main_element">
					<a href="workers" class="main_link">
					<img th:src="@{/assets/images/employee.png}">
					<br>
					Список сотрудников предприятия</a>
				</div>
				<div class="main_element">
					<a href="vacation_list" class="main_link">
					<img th:src="@{/assets/images/summertime.png}">
					<br>
					Сотрудники в отпуске
					</a>
				</div>
				<div class="main_element">
					<a href="sick_list" class="main_link">
					<img th:src="@{/assets/images/fever.png}">
					<br>
					Сотрудники на больничном
					</a>
				</div>
				<div class="main_element">
					<a href="fired_list" class="main_link">
					<img th:src="@{/assets/images/fired.png}">
					<br>
					Уволенные сотрудники</a>
				</div>
			</div>
		</div>
		<div class="department">
				<h1 class="items_h">Отделы организации</h1>
			<div class="department_nav">
				<div>
					<a href="department" class="main_link">
					<img th:src="@{/assets/images/department.png}">
					<br>
					Отделы организации
					</a>
				</div>
			</div>
		</div>

		<div class="vacancies">
				<h1 class="items_h">Вакансии</h1>
				<div class="vacancies_nav">
					<div>

						<img th:src="@{/assets/images/policy.png}">
						<br>
						Вакансии в организации

					</div>
				</div>
		</div>
		<div class="documents">
				<h1 class="items_h">Документы</h1>
				<div class="documents_nav">
					<div>
						<a href="documents" class="main_link">
						<img th:src="@{/assets/images/document256.png}">
						<br>
						Шаблоны документов
						</a>
					</div>
				</div>
		</div>
	</main>
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
</body>
</html>