<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
<title>Регистрация нового работника</title>
</head>
<body>
<header>
	<h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
</header>
	<div align="center">	
		<h1><span sec:authentication="name">Username</span></b>, введите данные работника</h1>
		<br/>
		<form action="#" th:action="@{/save}" th:object="${worker}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Имя:</td>
					<td><input type="text" th:field="*{name}" required /></td>
				</tr>
				<tr>
					<td>Фамилия:</td>
					<td><input type="text" th:field="*{surname}" required /></td>
				</tr>				
				<tr>
					<td>Отчество:</td>
					<td><input type="text" th:field="*{patronymic}" required /></td>
				</tr>
				<tr>
					<td>Дата трудоустройства</td>
					<td><input type="date" th:field="*{employDate}" required /></td>
				</tr>
				<tr>
					<td>Дата рождения</td>
					<td><input type="date" th:field="*{birthdayDate}" required /></td>
				</tr>

				<tr>
					<td>Образование</td>
					<td><input type="text" th:field="*{education}" required /></td>
				</tr>
				<tr>
					<td>Должность</td>
					<td><input type="text" th:field="*{position}" required /></td>
				</tr>
				<tr>
					<td>
						<select th:field="*{departmentId}">
							<option th:each="department : ${listDep}" th:value="${department.id}"><span th:text="${department.name}"></span></option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>