<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Product Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
</head>
<body>
<header>
    <h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
</header>
<div align="center">

    <br/><br/>
    <table id="mainTable" class="worker_table">
        <thead>
        <tr>
            <th onclick="sortTable(0)">ID</th>
            <th onclick="sortTable(1)">Фамилия</th>
            <th onclick="sortTable(2)">Имя</th>
            <th onclick="sortTable(3)">Отчество</th>
            <th onclick="sortTable(4)">Начало больничного</th>
            <th onclick="sortTable(5)">Конец больничного</th>

            <!--<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>	-->

        </tr>
        </thead>
        <tbody>

        <tr th:each="sick : ${sickList}">

            <td><p th:each="worker : ${listWorker}" th:if="(${sick.getIdentity()}==${worker.id})" th:text="${worker.id}"></p></td>
            <td><p th:each="worker : ${listWorker}" th:if="(${sick.getIdentity()}==${worker.id})" th:text="${worker.surname}"></p></td>
            <td><p th:each="worker : ${listWorker}" th:if="(${sick.getIdentity()}==${worker.id})" th:text="${worker.name}"></p></td>
            <td><p th:each="worker : ${listWorker}" th:if="(${sick.getIdentity()}==${worker.id})" th:text="${worker.patronymic}"></p></td>
            <td><p th:text="${sick.start}"></p></td>
            <td><p th:text="${sick.end}"></p></td>

        </tr>

        </tbody>
    </table>
    <h1>История больничных</h1>
    <table id="mainTable" class="worker_table">
        <thead>
        <tr>
            <th onclick="sortTable(0)">ID</th>
            <th onclick="sortTable(1)">Начало больничного</th>
            <th onclick="sortTable(2)">Конец больничного</th>
            <th onclick="sortTable(3)">Фамилия</th>
            <th onclick="sortTable(4)">Имя</th>
            <th onclick="sortTable(5)">Отчество</th>


            <!--<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>	-->

        </tr>
        </thead>
        <tbody>

        <tr th:each="archive : ${archiveList}">
                <td><p th:text="${archive.id}"></p></td>
                <td><p th:text="${archive.start}"></p></td>
                <td><p th:text="${archive.end}"></p></td>
                <td><p th:each="worker : ${listWorker}" th:if="(${archive.getIdentity()}==${worker.id})" th:text="${worker.surname}"></p></td>
                <td><p th:each="worker : ${listWorker}" th:if="(${archive.getIdentity()}==${worker.id})" th:text="${worker.name}"></p></td>
                <td><p th:each="worker : ${listWorker}" th:if="(${archive.getIdentity()}==${worker.id})" th:text="${worker.patronymic}"></p></td>


        </tr>

        </tbody>
    </table>

</div>
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
</body>
</html>