<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Product Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
</head>
<body>
<header>
    <h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
</header>
<div align="center">

    <br/><br/>
    <table id="mainTable" class="worker_table">
        <thead>
        <tr>
            <th onclick="sortTable(0)">ID</th>
            <th onclick="sortTable(1)">Фамилия</th>
            <th onclick="sortTable(2)">Имя</th>
            <th onclick="sortTable(3)">Отчество</th>
            <th onclick="sortTable(4)">Начало отпуска</th>
            <th onclick="sortTable(5)">Конец отпуска</th>
            <th>Действия</th>
            <!--<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>	-->

        </tr>
        </thead>
        <tbody>

        <tr th:each="worker : ${listWorker}">
            <a th:href="@{'/profile/' + ${worker.id}}">
                <td th:text="${worker.id}"></td>
                <td th:text="${worker.surname}"></td>
                <td th:text="${worker.name}"></td>
                <td th:text="${worker.patronymic}"></td>
                <td><p th:each="vacation : ${listVacate}" th:if="(${vacation.getIdentity()}==${worker.id})" th:text="${vacation.getStart()}"></p></td>
                <td><p th:each="vacation : ${listVacate}" th:if="(${vacation.getIdentity()}==${worker.id})" th:text="${vacation.getEnd()}"></p></td>
                <td><a th:href="@{'/restore/' + ${worker.id}}" onclick="return confirm('Вы уверены в том, что хотите восстановить сотрудника?')">Восстановить</a></td>
            </a>
        </tr>

        </tbody>
    </table>


</div>
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
</body>
</html>