<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Product Manager</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<header>
    <h1 class="header_h"><a href="/">Система учета сотрудников</a></h1>
</header>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти" />
    </form>

    <input type="text" class="form-control pull-right" id="search" placeholder="Поиск по таблице">
    <br/><br/>
    <table class="worker_table" id="mainTable">
        <thead>
        <tr>
            <th onclick="sortTable(0)">ID</th>
            <th onclick="sortTable(1)">Фамилия</th>
            <th onclick="sortTable(2)">Имя</th>
            <th onclick="sortTable(3)">Отчество</th>

            <th>Действия</th>
            <!--<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>	-->

        </tr>
        </thead>
        <tbody>

        <tr th:each="worker : ${listWorker}">

                <td th:text="${worker.id}"></td>
                <td th:text="${worker.surname}"></td>
                <td th:text="${worker.name}"></td>
                <td th:text="${worker.patronymic}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <!--<a th:href="@{'/edit/' + ${worker.id}}">Редактировать</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{'/delete/' + ${worker.id}}" onclick="return confirm('Вы уверены в том, что хотите удалить сотрудника?')">Удалить</a>
                    <a th:href="@{'/fire/' + ${worker.id}}">Уволить сотрудника</a>-->
                    <a th:href="@{'/profile/' + ${worker.id}}" class="profile_link">Профиль сотрудника</a>
                </td>

        </tr>

        </tbody>
    </table>
    <div sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')" class="worker_buttons">
        <a href="new" class="worker-button">Добавить нового работника</a>

        <br>
    </div>
    <h1>Количество работников - <span th:text="${workerCount}"></span></h1>

</div>
<script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
</body>
</html>